[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rahulk4897
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rahulk4897
	label-Verified = -1..+1 group user/rahulk4897
	push = group user/rahulk4897
	read = group user/rahulk4897
	rebase = group user/rahulk4897
	removeReviewer = group user/rahulk4897
	submit = group user/rahulk4897
[access "refs/heads/*"]
	create = group user/rahulk4897
	push = +force group user/rahulk4897
	pushMerge = group user/rahulk4897
	read = group user/rahulk4897
[access "refs/tags/*"]
	push = group user/rahulk4897
	push = +force group user/rahulk4897
